.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

section {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.countSection span {
  background-color: white;
  padding: 1rem;
}
